<%= link_to "create listing", new_listing_path %>
<%  for listing in @listings %>
    <div class="listing">
        <%= image_tag listing.picture if listing.picture.attached? %>
        <div class="info">
            <div class="info-bar">
                <div>$<%= listing.price%></div>
                <div><%= listing.sex%></div>
                <div><%= listing.date_of_birth%></div>
            </div>
            <%= link_to listing.title, listing_path(listing.id)%>
            <div><%= listing.description %></div>
                        <br/>

        </div>
    </div>
    <%end%>